html {
  font-family: verdana;
  color: white;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

h3, a
{
  color: aquamarine;
  font-size: 16px;
}

h2 {
    font-size: 42px;
    font-weight: 400;
}

h4, footer {
  color: gray;
  font-size: 21px;
}

footer {
  text-align: right;
  color: gray;
}
